/*Austin Phillips, 23/FA-CIS-131-W01, 9/11/23, "Image Swapping 2", styles.css*/
body {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ced1de;
    background-color: #488972;
}

h1 {
    margin-top: 20px;
}

.image-container {
    margin-top: 20px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.thumbnail-container img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/*This controls the size of the "large image that is in the center of the page*/
#large-image {
    max-width: 80%;
    max-height: 60vh;
    display: block;
    margin: 0 auto;
}